@font-face {
  font-family: 'PretendardVariable';
  src: url('./assets/fonts/PretendardVariable.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
}

h1, h2, h3 {
  margin: 0;
}

ul,ol,li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

html, body {
  font-family: 'PretendardVariable', sans-serif;
  margin: 0;
  height: 100%;
}

.container {
  position: relative;
  width: 190vh;
  margin: 0 auto;
}

body::-webkit-scrollbar {
  display: none;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrap {
  position:relative;
  top:0;
  width:100%;height:100%;
  transition: 0.5s;
}